/* * {
    outline: 2px solid red;
} */

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.container {
    color: #E5E7EB;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
}

h2 {
    font-size: 24px;
    color: #F9FAF8;
}

.navbar {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
}

li {
    font-size: 18px;
}

/* Hero */

.hero-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 140px 0 140px 0;
}

.block-1 {
    width: 500px;
    padding-left: 50px;
    padding-right: 50px;
}

.block-2 {
    width: 500px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #898989;
    flex-wrap: 0;
    flex-shrink: 0;
}

.button {
   background-color: #3882F6;
   color: white;
   width: 120px;
   height: 35px;
   border-radius: 8px;
   padding: 0;
   border: none;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-para {
    margin-top: -30px;
}

/* Random info section */ 

.random-info {
    background-color: #E5E7EB;
    padding: 50px 0 50px 0;
}

.random-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 20px;
}

.random-parent {
    color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.random-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 0px;
}

.blue-square {
    width: 200px;
    height: 200px;
    border: 3px solid blue;
    border-radius: 10px;
}

/* Quote */

.quote-net {
    background-color: #898989;
}

.quote-container {
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -20px;
}

.quote-inner {
    width: 900px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-outer {
    background-color: #898989;
    display: flex;
    justify-content: end;
    padding-right: 275px;
    padding-bottom: 140px;
}

.thor {
    font-weight: 900px;
    font-size: 24px;
    color: #1F2937;
}

/* CTA section */

.cta-container {
    background-color: #E5E7EB;
    padding: 140px 0 140px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-outer {
    background-color: #3882F6;
    width: 1000px;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.cta-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-cta, .p-h2 {
    margin: 0;
}

.signup-button {
    flex-shrink: 0;
    background: none;
    border: 2px solid white;
    border-radius: 7px;
    color: white;
    width: 100px;
    height: 30px;
}

